body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #A7D7C5;
}
.content{
    width: 50vw;
    background-color: #F4F9F4;
    padding: 90px;
    margin: 30px auto;
    border: 5px solid #5C8D89;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
}

h1 {
    font-size: 3rem;
    color: #F4F9F4;
    background-color:  #5C8D89;
    margin-top: 0;
}
h2 {
    color: #5C8D89;
    font-size: 2rem;
}

ul, ol {
    list-style-position: inside;
    padding: 0;
}

.recipe-list li {
    line-height: 1.5;
    list-style: none;
}

.recipe-list a:hover{
    background-color: #74B49B;
}

.recipe-list a {
    text-decoration: none;
    background-color: #A7D7C5;
    display: inline-block;
    width: 80%;
    padding: 12px;
    margin: 5px 0;
    font-weight: 700;
    color: black;

}

.recipe-img {
    width: 100%;
    height: auto;
    display: block;
}

.img-container{
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.reference {
    font-size: 0.7rem;
    margin-top: 5px;
}