body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
}

h1 {
    font-size: 3rem;
    color: #F4F9F4;
    background-color:  #5C8D89;
}

li {
    line-height: 1.5;
}

.recipe-img {
    width: 32%;
    height: auto;
}